<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.FeatureModel" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.FileSystems" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Http" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.HttpFeature" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.Common" version="6.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.Core" version="6.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.HeaderValueAbstractions" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.PipelineCore" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.RequestContainer" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Routing" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Security" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Security.DataProtection" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.DataAnnotations" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.Runtime.Interfaces" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
</packages>