<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Http" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.RequestContainer" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Routing" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-alpha3" targetFramework="net45" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-alpha3" targetFramework="net45" />
</packages>